<nav>
  <ul class="drop-down closed">
    <li><a href="home" class="nav-button">Home</a></li>
    <li><%= link_to 'Cakes', orders_path %></li>
    <li><a href="#">Contact</a></li>
  </ul>
</nav>

<div class="about">
	<h1 id="me">About Me</h1>

	<div id="about">
		<%= image_tag("apic.png", height:'650', width: '450', class: "img-circle cyn")  %>
	</div>
	<div class="cyns">

		<p> Heyyy there! My name is Cynthia! I'm going to be brutally honest with you! Because mom says, "honesty is the best policy". It's all about  first impressions-right!  OK,  I'll say it- I'm a "late boomer" when it comes to all things desserts *covers eyes* particularly baking them with high quality ingredients. My inspiration for making homemade (mostly organic) desserts dawned on me sometime summer '13. Prior to that, I was baking cakes for my church with the pre-packaged mixes. I always made it with my own twist/sassiness. However, one sweet day, I was going about my own business gathering the necessary ingredients to make the cake. When my eyes wondered to the ingredients that was listed on the back of the mix. Needless to say, I was surprised at what I was baking and giving to the saints in my church (at church of all places!)! I almost immediately decided to bake a cake from scratch with the ingredients that I had on hand, and with the help of Google. I baked the cake, scared out of my mind about the outcome, and without telling the them-it was a hit! BAM! A new chapter in my life began and flourished. Shortly thereafter, I started baking low carb/paleo and vegan cakes. My passion for the art of cakes/desserts is what people like to call "Dora the Explorer" lol.  Because I add my own twist, with not only organically grown ingredients but also using exotic fruits, multi-culture inspirations and with pure love. 
		</p>
	</div>
</div>
   