	
	<div id="res">
		<h1>RESERVE IT HERE</h1>
<div class="new">
		<%= render 'form', order: @order %>
</div>
<div id="ba">
<button class="btn waves-effect waves-ligh" type="submit" name="action" style="">        <%= link_to 'Back', orders_path %> </button>
</div>
