body{
background: url(https://hd.unsplash.com/photo-1422255198496-21531f12a6e8) no-repeat center center fixed;
-webkit-background-size: cover;
background-size: cover;
}
.about{
	background: url(https://hd.unsplash.com/photo-1468293865354-622d43e66649https://hd.unsplash.com/photo-1468293865354-622d43e66649);
-webkit-background-size: cover;
background-size: cover;
}
.th{
	text-align: center;
	margin-top: 500px;
	margin-right: 600px;
	margin-left: 600px;
	border: 1px solid blue;
  opacity: 0.8;
 filter: alpha(opacity=50);
	}

#me{
	text-align: center;
	font-family: Trebuchet;
}
#about{
margin-left: 420px;
}
.cyns{
	border: solid;
	background: white;
	font-size: 18px;
	text-align: center;
	font-family:Trebuchet;
	margin-left: 950px;
	margin-right: 700px;
	margin-top: -490px;
	padding: 0px 15px 10px 5px;
	
	
}
.new {
	font-size: 55px;
	color: #FF8C00;
}